body {
  font-family: 'Arial', sans-serif;
  background-color: #FFD700; /* الخلفية ذهبية */
  direction: rtl;
  text-align: right;
  padding: 20px;
  margin: 0;
}

.container {
  max-width: 500px;
  margin: auto;
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.header-text {
  text-align: center;
  font-weight: bold;
  color: #333;
  margin-bottom: 15px;
  font-size: 18px;
}

label {
  display: block;
  margin-top: 15px;
  color: #333;
}

input, select, button {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  background-color: rgba(212, 175, 55, 0.8); /* ذهبي شفاف */
  color: white;
  font-weight: bold;
  cursor: pointer;
  margin-top: 20px;
  border: none;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: rgba(212, 175, 55, 1); /* ذهبي أقوى عند التمرير */
}

#result {
  margin-top: 30px;
  padding: 15px;
  background-color: rgba(212, 175, 55, 0.1); /* خلفية ذهبية شفافة */
  border: 1px solid rgba(212, 175, 55, 0.8); /* حدود ذهبية */
  border-radius: 5px;
  color: #333;
  font-weight: bold;
}
